h1{
     text-align:center;
    border: 20px solid blue;
    padding: 25px;
    font-family: arial;
    font-size: 40px;
}

h2{
    text-align: center;
    border: 14px solid red;
    margin: 1px;
    padding: 30px;
    font-family: arial;
    font-size: 35px;
}

p{
    color: black;
    font-size: 21px;
    font-family: arial;

}

body{
    background-color: blanchedalmond;
}

img{
    border: 5px solid black;
  
}
